*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    background:#050505;

    color:white;

    min-height:100vh;

    font-family:Arial, sans-serif;

    overflow:hidden;

}



#background{

    position:fixed;

    inset:0;

    overflow:hidden;

    z-index:-1;

}


#code{

    position:absolute;

    top:0;

    left:0;

    width:100%;

    color:#0b5c18;

    opacity:0.35;

    font-family:"JetBrains Mono", monospace;

    font-size:18px;

    line-height:32px;

    white-space:pre;

    animation:scrollCode 80s linear infinite;

}



@keyframes scrollCode{

    from{

        transform:translateY(0);

    }

    to{

        transform:translateY(-50%);

    }

}



main{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

}



.avatar{

    width:160px;

    height:160px;

    border-radius:50%;

    box-shadow:
    0 0 25px #39ff14;

}



.nickname{

    margin-top:18px;

    color:#39ff14;

    font-size:22px;

    font-weight:bold;

}



.latest{

    margin-top:55px;

    text-align:center;

}



.latest h1{

    font-size:38px;

    margin-bottom:30px;

}



.short-card{

    width:420px;

    max-width:90vw;

    background:rgba(15,15,15,.85);

    border:1px solid #39ff14;

    border-radius:20px;

    overflow:hidden;

}



.short-card img{

    width:100%;

    display:block;

}



.short-card h2{

    padding:20px;

}



.short-card a{

    display:inline-block;

    margin-bottom:20px;

    padding:12px 30px;

    border-radius:30px;

    background:#39ff14;

    color:black;

    text-decoration:none;

    font-weight:bold;

}



.short-card a:hover{

    box-shadow:0 0 20px #39ff14;

    .code-line{

    position:absolute;

    color:#0b5c18;

    opacity:0.45;

    font-family:"JetBrains Mono", monospace;

    font-size:18px;

    white-space:nowrap;

    user-select:none;

}

}
