/* ===== Reset ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ===== Main ===== */

body {

    min-height: 100vh;

    background: #050505;

    color: white;

    font-family: "Segoe UI", Arial, sans-serif;

    overflow: hidden;

}


/* ===== Center ===== */

main {

    min-height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

}


/* ===== Avatar ===== */

.avatar {

    width: 180px;

    height: 180px;

    object-fit: cover;

    border-radius: 50%;

    border: 3px solid #39ff14;

    box-shadow:

        0 0 15px rgba(57,255,20,0.7),

        0 0 40px rgba(57,255,20,0.25);

}


/* ===== Nickname ===== */

.nickname {

    margin-top: 25px;

    color: #39ff14;

    font-size: 24px;

    font-weight: 700;

    letter-spacing: 1px;

}


/* ===== Future content area ===== */

.content {

    margin-top: 50px;

    display: flex;

    justify-content: center;

    align-items: center;

}


/* ===== Smooth details ===== */

::selection {

    background: #39ff14;

    color: black;

}


/* ===== Mobile ===== */

@media (max-width: 600px) {


    .avatar {

        width: 140px;

        height: 140px;

    }


    .nickname {

        font-size: 20px;

    }
/* ===== Links ===== */

/* ===== Links ===== */

.links {

    margin-top: 28px;

    display: flex;

    gap: 14px;

}


.links a {

    width: 135px;

    height: 42px;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #0d0d0d;

    border: 1px solid #39ff14;

    border-radius: 12px;

    color: #39ff14;

    text-decoration: none;

    font-size: 15px;

    font-weight: 600;

    transition: .2s;

}


.links a:hover {

    background: #39ff14;

    color: #050505;

    box-shadow: 0 0 18px rgba(57,255,20,.55);

    transform: translateY(-2px);

}


.links a:active {

    transform: scale(.96);

}


@media (max-width:600px) {

    .links {

        flex-direction: column;

        align-items: center;

    }

}
